/** Metro customizations to the cascade story map template **/

	
	/*------------------------------------------------------------------------*/
	/*                           METRO FONTS                                  */
	/*------------------------------------------------------------------------*/
	
	/* Load Metro fonts which are not available via TypeKit */
		/* custom css rules:: for WOFF-capable browsers */
	@font-face {
		font-family: 'AdelleSansCnd-Regular';
		src: url("../fonts/AdelleSansCnd/AdelleSansCnd-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}
	/* then for WOFF-capable browsers */
	@font-face {
		font-family: 'AdelleSansCnd-Semibold';
		src: url("../fonts/AdelleSansCnd/AdelleSansCnd-Semibold.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}
	/* then for WOFF-capable browsers */
	@font-face {
		font-family: 'AdelleSansCnd-Bold';
		src: url("../fonts/AdelleSansCnd/AdelleSansCnd-Bold.woff") format("woff");
		font-weight: normal;
		font-style: normal;
	}
	
	
	/*------------------------------------------------------------------------*/
	/*                              HYPERLINKS                                */ 
	/*------------------------------------------------------------------------*/
	
	a {
		color: #00828c;
		text-decoration: none;
		border-bottom: 1px dotted #00828C;
	}
	
	a:hover {
		color: #00828c;
		text-decoration: none;
		border-bottom: 1px solid #00828C;
	}
	
	body > div.embed-wrapper > div.story-header > div.logo-title-container > span.logo-wrapper > a {
		border-bottom: none;
	}
	
    
	/*------------------------------------------------------------------------*/
	/*                               TEXT HIERARCHY                           */
	/*------------------------------------------------------------------------*/
	
	/* cannot do both font-family: bold and font-weight: 700 or Safari, FF have a font fit */
	body > div.embed-wrapper > div.story-header > div.logo-title-container > span.title.strong {
		font-family: 'AdelleSansCnd-Bold', 'AdelleSansCondensed','AdelleSansCnd','AdelleSansCondensed-Regular','AdelleSansCnd-Regular','Avenir Next Condensed','AvenirNextCondensed-Regular','Arial Narrow', sans-serif;
		font-size: 24px;
/* 		font-weight: 600; */
		line-height: 46px;
		color: #000000;  
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
		
	body.mobile-view > div.embed-wrapper > div.story-header > div.logo-title-container > span.title.strong {
		font-size: 20px;
		font-weight: 600; 
	}

	h1.cover-title {
		font-family: 'AdelleSansCnd-Bold', 'AdelleSansCondensed','AdelleSansCnd','AdelleSansCondensed-Regular','AdelleSansCnd-Regular','Avenir Next Condensed','AvenirNextCondensed-Regular','Arial Narrow', sans-serif;
		font-weight: normal;
		font-size: 60px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
		
	body.mobile-view .section-layout-cover h1.cover-title {
		font-size: 2em;
	}

	.story-header .title {
		color: #000000;
	}
	
    .foreground .title-text.text-dark, .background-title .title-text.text-dark {
		color: #ffffff;
    }

	/* special case for the demo */
	body > div.embed-wrapper > div.sections > div.section.section-immersive.layout-scroll-full.section-on-screen.bring-in.active > div.background-title > div {
		background-color: rgba(255,255,255,0.66);
    }

	body > div.embed-wrapper > div.sections > div.section.section-immersive.layout-scroll-full.section-on-screen.bring-in.active > div.background-title > div > h2 {
		color: #000000;
	}

    body > div.embed-wrapper > div.sections > div.section.section-immersive.layout-scroll-full.section-on-screen.bring-in.active > div.background-title > div > h2 {
		font-family: adelle, serif;
		text-shadow: 1px 1px 10px #eeeeee;
    }

    .section-immersive .background-title {
		top: 76px;
    }
	
	/* Found that specifying bold in the font-family and weight=700 results in fuinky spacing in Safari, FF */	
    .section-layout-title .foreground h1.fg-title.title-text {
		color: #374f54!important;
		font-family: 'AdelleSansCnd-Bold', 'AdelleSansCondensed','AdelleSansCnd','AdelleSansCondensed-Regular','AdelleSansCnd-Regular','Avenir Next Condensed','AvenirNextCondensed-Regular','Arial Narrow', sans-serif;
		font-size: 38px;
/* 		font-weight: 700; */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		text-shadow: 1px 1px 32px #ffffff, 1px 1px 48px #ffffff, 1px 1px 64px #ffffff;
    }
		
    h2, h2.title-text {
		font-family: adelle-sans, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
    }

	@media all and (min-width: 1701px) {
		.section-layout-cover .cover-title {
			font-size: 3.3em;
		}
	}
	
	@media all and (max-width: 1700px) {
		.section-layout-cover .cover-title {
			font-size: 2.5em;
		}
	}
	
	@media all and (max-width: 700px) {
		.section-layout-cover .cover-title {
			font-size: 2em;
		}
	}
	
   	/*------------------------------------------------------------------------*/
	/*                                  TEXT                                  */
  	/*------------------------------------------------------------------------*/
  	
	body, p {
		font-family: adelle, serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
	}
		
	p {
		font-size: 19px;
	}

	.foreground .text-background.background-light {
		background-color: rgba(0,59,92,.8);
		max-width: 100%;
	}
	
    div.section.section-layout-title div.foreground div.text-background {
		background-color: rgba(255,255,255,0);
		opacity: 1;
    }
		


    .blocksWrapper .blocks {
		padding: 25px;
    }
		
    .imm-panel.theme-black-over-white .blocks {
		background-color: rgba(255,255,255,0.85);
    }
		
    p.block {
		font-size: 18px;   
    }
		
    h1.block {
		font-family: adelle, serif;
		font-weight: 700;
		color: #46646b;
		font-size: 25px;
		-webkit-font-6moothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		text-align: left;
    }

    h2.block {
		font-family: adelle, serif;
		font-weight: 700;
		color: #46646b;
		font-size: 22px;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		text-align: left;
    }
		
    .section.section-layout-title .background .image {
		max-height: 150px;
		opacity: 0.5;
		/* Add the blur effect */
		filter: blur(3px);
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-ms-filter: blur(3px);
    }
				

    .progressjs-container {
		position: fixed;
		top: 60px;
    }
		
    .story-header .linkContainer, .story-header.compact {
		color: #000000;
    }
		
	
	
	/*------------------------------------------------------------------------*/
	/*							THE METRO LOGO								    */
	/*------------------------------------------------------------------------*/
	 
	.story-header.compact .logoImg {
		filter: none!important;
	}
	
	body.mobile-view .story-header:not(.compact) .logo-wrapper {
		display: inline;
	}   

	body .story-header:not(.compact) .logo-wrapper .logoImg {
		max-width: 220px;
	}  
	
	body.mobile-view .story-header:not(.compact) .logo-wrapper .logoImg {
		max-width: 90px;
	}  
 
 	body.mobile-view .story-header .logo-wrapper .logoImg {
		max-width: 90px;
	}  
		
    /* Metro logo */
    body > div.embed-wrapper > div.story-header > div.share > span > a {
		border-bottom: none;
		line-height: 56px;
    }
		
		
	/*------------------------------------------------------------------------*/
	/*							NAVIGATION                                     */
	/*------------------------------------------------------------------------*/
	
    .story-header .share, .story-header.compact .share {
 		font-family: adelle, serif;
 		font-size: 24px;
		text-shadow: none;
    }
		
    .story-header .share a:hover, .story-header.compact .share a:hover {
 		color: #000000;
 		text-decoration: underline;  
 		text-transform: none;
 		text-shadow: none;
 		text-align: left;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
   	}
   	
   	ul.bookmarks {
	   	vertical-align: middle;
	   	line-height: 25px;
	   	height: 25px;
		margin-bottom: 0;
		padding-bottom: 0;
		justify-content: flex-start;
   	}
   	
   	li.bookmark {
	   	vertical-align: middle;
	   	line-height: 25px;
	   	height: 25px;
	   	padding-top: 4px;
   	}
   	
   	/* cannot specify both bold in the font-family and bold in font-weight or Safari, FF go fubar. */
   	div.embed-wrapper > div.story-header > ul > li {
		font-family: 'AdelleSansCnd-Bold', 'AdelleSansCondensed','AdelleSansCnd','AdelleSansCondensed-Regular','AdelleSansCnd-Regular','Avenir Next Condensed','AvenirNextCondensed-Regular','Arial Narrow', sans-serif;
		font-size: 18px;
/* 		font-weight: 600; */
		line-height: 22px;
		text-decoration: none;
		color: #768f94;
   	}

	div.embed-wrapper > div.story-header > ul > li:hover {
		color: #003b5c;
	}

   	body.mobile-view div.embed-wrapper > div.story-header > ul > li {
		font-size: 16px;
	}
	 	
	div.embed-wrapper > div.story-header > ul > li:hover {
		border-bottom: 6px solid #00828c;
	}
		   	
   	div.embed-wrapper > div.story-header > ul > li.active {
	 	color: #003b5c;
	 	border-color: #d9a833;
	 	border-bottom: 6px solid #d9a833;
	}
	
	/* icon used only on small screens? */
	body > div.embed-wrapper > div.story-header > ul > li.dropdown.bookmark-dropdown.visible.active > a > span.glyphicon.glyphicon-th-list {
		color: #00828c;
		line-height: 16px;
	}
	
	div.embed-wrapper > div.story-header > ul li.dropdown bookmark-dropdown visible active {
		border-bottom: none;
	}
	
	body.mobile-view div.embed-wrapper > div.story-header > ul > li.active,
	body.mobile-view div.embed-wrapper > div.story-header > ul > li.active:hover {
		border-bottom: none;
	}


	/*------------------------------------------------------------------------*/
	/*								PHOTO GALLERY								*/
	/*------------------------------------------------------------------------*/

	.block-caption {
		font-family: adelle-sans, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		color: #060606;
	}

	/* caption for a gallery of images */
	div.image-gallery figcaption.block-caption {
		font-size: 15px;
	}
	
	/* caption for single image */
	div.image figcaption.block-caption {
		padding: 5px;
		color: #ffffff;
		background-color: #5f6c75;
		margin-top: 0!important;
	}
	
	body.mobile-view .section-layout-sequence figcaption.block-caption {
		width: 100%;
		padding: 5px;
	}
	
	div.image figcaption.block-caption:empty {
		padding: 0;
	}
	
	body.mobile-view .section-layout-sequence h1 {
		font-size: 25px;
	}
	
	
	/*------------------------------------------------------------------------*/
	/*							NEWS QUOTE										 */
	/*------------------------------------------------------------------------*/

	/* block quote of a more journalistic style */	
	.section-layout-sequence blockquote, blockquote.block {
		color: #677880;
		display: block;
		font-family: 'adelle-sans','Avenir Next','AvenirNext-Regular','Helvetica Neue','Helvetica','Arial',sans-serif;
		font-size: 17px;
		font-weight: 300;
		font-style: normal!important;
		text-align: right;
		padding-right: 2em;
	}
			
	.section-layout-sequence blockquote b, blockquote.block b {
		display: block;
		font-family: 'adelle-sans','Avenir Next','AvenirNext-Regular','Helvetica Neue','Helvetica','Arial',sans-serif;
		font-weight: 300;
		font-size: 23px;
		font-style: italic!important;
		line-height: 36px;
		color: #677880;
		padding-right: 0;
		text-align: left;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		/* border-top: 1px solid #ced0d2;
		border-bottom: 1px solid #ced0d2;   */
	}
	
	.section-layout-sequence blockquote b:before {
		font-family: adelle, serif;
		font-size: 6em;
		font-weight: 300;
		content: '\201C';
		color: #677880;
		opacity: 0.3;
		position: absolute;
		top: 0.3em;
		left: -0.3em;    
		text-shadow: none;
		z-index: 0;
	}

	.section-layout-sequence blockquote b:after { 
  		font-family: adelle, serif;
		font-size: 23px;
  		font-weight: 300;
		content: '”';
	}

/* 	 big quote mark has a problem due to sometimes being positioned far from the actual end of the quote text
	.section-layout-sequence blockquote b:after {
  		font-family: adelle, serif;
		font-size: 6em;
		font-weight: 300;
		content: '\201D';
		color: #677880;
		opacity: 0.3;
		position: absolute;
		bottom: 0em;
		right: -0.1em;    
		text-shadow: none;
		z-index: 0;
	}
*/
	
	/*------------------------------------------------------------------------*/
	/*						      SECTION: CREDITS							    */
	/*------------------------------------------------------------------------*/
	
	strike {
		font-size: 14px;
		text-align: left!important;
		font-family: adelle, serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		text-stroke: none;
		text-decoration: none!important;
		text-decoration-skip: objects;
		line-height: 18px;
	}
	
	.section-layout-credits .foreground {
		color: #000000;
		background-color: #e5e0d8;
	}
	
	.section-layout-credits .foreground .credits {
		color: #000000;
	}
	
	body > div.embed-wrapper > div.sections > div.section.section-layout-credits > div.foreground > div > div.blocks > p:first-child {
		text-align: left!important;
	}
	
	.section-layout-credits div.credits .cr-input-container .cr-item-input.cr-source,
	.section-layout-credits div.credits .cr-input-container .cr-item-input.cr-content {
		color: #000000;
		font-family: 'adelle', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	}
	
	body .section-layout-credits .foreground .blocks a {
		color: #00828c;
		text-decoration: none;
	}
	
	 
	 
	 
	 
	.bookmarks .bookmark {
		color: #ffffff;
	}
	
	.bookmarks .dropdown .dropdown-menu {
		background-color: #003b5c;
	}
	
	.bookmarks .dropdown .dropdown-toggle {
		border-bottom: none;
	}
	
	.bookmarks .dropdown.active .dropdown-toggle {
		color: #d8a833;
	}
	
	.bookmarks .dropdown .dropdown-toggle a {
		border-bottom: none;  
	}
	
	.bookmarks .dropdown .bookmark.active {
		color: #ffffff;
		border-left-color: #d8a833!important;
	}
	
	.bookmarks .dropdown .bookmark:hover {
		border-left-color: #16a8b5;
	}
	
	body > div.embed-wrapper > div.sections > div.section.section-layout-cover.cover-1.static.active > div > div:nth-child(2) > div.foo > div.text-background.background-light {
		width: 100%;
	}
	
	/* weird mobile version widget -- can this be modified? */
	.section-layout-sequence.sequence-2 .block {
		font-family: 'adelle-sans','Avenir Next','AvenirNext-Regular','Helvetica Neue','Helvetica','Arial',sans-serif;
		font-weight: 600;
		  
		background-color: #eeeeee;
		color: #008480;
	}
	
	.section.section-layout-sequence.sequence-2 a.btn.btn-warning-email {
		display: none;
		visibility: hidden;
		background-color: #00828c!important;
		color: #ffffff!important;
	}
	

	/*------------------------------------------------------------------------*/
	/*						SECTION: STANDARD METRO FOOTER						*/
	/*------------------------------------------------------------------------*/
	
	.met-section {
		position: relative;
    	width: 100%;
    	min-height: 100%;
    	z-index: 3;
    }
    
	.met-footer-wrapper {
		width: 100%; 
		background-color: #00385c; 
		min-height: 100px; 
		padding: 40px; 
		color: #ffffff;
		z-index: 33;
	}
	
	.met-signature-wrapper {
		background-color: #ffffff;
		vertical-align: bottom;
		z-index: 33;
	}
	
	#metro-illustrated-strip {
		padding-top: 150px;
		vertical-align: bottom;
	}
	
	
	#metro-illustrated-strip img {
		display: block;
		width: 90vw;
		margin: 40px auto 0 auto;
		vertical-align: bottom;
		z-index: 0;
	}
	
	.met-footer-flexbox {
		display: flex;
		flex-direction: row;
		max-width: 975px;
		margin: 0 auto;
	}
	
	.met-footer-row {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		width: 100%;
	}
	
	.met-footer-item {
		display: flex;
		flex-flow: column;
		order: 2;
		width: 30%;
		padding: 20px 18px 0 0;
	}
	
	.met-footer-item.met-wider-article {
		width: 40%;
	}
	
	.met-menu-header {
		font-family: 'AdelleSansCondensed','AdelleSansCnd','AdelleSansCondensed-Regular','AdelleSansCnd-Regular','Avenir Next Condensed','AvenirNextCondensed-Regular','Arial Narrow','Avenir Next','AvenirNext-Regular','Helvetica Neue','Helvetica','Arial',sans-serif;
		font-size: 1.3em;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-top: 0;
		padding-bottom: 12px;
	}
	
	.met-menu-item-clump {
		display: block;
		list-style: none;
		padding: 0;
		margin-bottom: 20px;
	}
	
	.met-menu-item {
		line-height: 18px;
		font-family: 'adelle-sans','Avenir Next','AvenirNext-Regular','Helvetica Neue','Helvetica','Arial',sans-serif;
		margin: 0;
		padding: 0;
	}
	
	.met-menu-item a {
		display: inline-block;
		padding: 0.25em 0;
		color: #eeeeee;
		border-bottom: none;
	}
	
	.met-menu-item a:hover {
		text-decoration: underline;
	}
	
	p.met-footer-text {
		font-size: 1.1em;
		line-height: 1.4em;
		color: #c1cfd4;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}
	
	p.met-footer-logo {
		margin-bottom: 20px;
	}
	
	p.met-footer-logo img {
		vertical-align: top;
	}
	
	p.met-footer-logo a {
		text-decoration: none;
		text-transform: none;  
		border-bottom: none;
	}
	
	.met-neg-margin-top-10 {
		margin-top: -5px;
	}

    .imm-panel.theme-white-over-black .blocks {
		color: #000000;
    }
    
    .imm-panel.style-text-shadow.theme-white-over-black .blocks {
		color: #ffffff;
    }

	/* mobile response for footer: turn into a block */
	@media all and (max-width: 650px) {
		.met-footer-row {
			display: block;
		}
		
		.met-footer-item, .met-footer-item.met-wider-article {
			width: 100%;
			padding-bottom: 15px;
		}
	}
	

	/*------------------------------------------------------------------------*/
	/*						  ADDTHIS SOCIAL SHARING WIDGET						*/
	/*------------------------------------------------------------------------*/
	
	#at4-share, .atss {
		right: 9999px!important;
	}

	.met-make-invisible {
		opacity: 0.0!important;
		right: 9999px!important;
		visibility: hidden!important;
		display: none!important;
	}
	
	.met-make-visible {
		opacity: 1.0!important;
		right: 0!important;
		visibility: visible!important;
		display: block!important;
	}
	

	/*------------------------------------------------------------------------*/
	/*                           LAYOUT of ELEMENTS                           */
	/*------------------------------------------------------------------------*/
	
	body > div.embed-wrapper > div.story-header {
		background-color: #ffffff!important;
	}
		
	body .sections .section-layout-cover:first-of-type .foreground {
/*
		vertical-align: bottom;
		margin-bottom: 78px;
*/
		vertical-align: top;
		margin-top: 78px;
	}

	/* should this have .title-text too? */
	.section-layout-cover .cover-subtitle {
		margin-top: 0;
		font-size: 22px;
		line-height: 30px;
	} 	
	
	body.mobile-view .section-layout-cover .cover-subtitle {
		font-size: 18px;
		line-height: 24px;
	}
	
    div.embed-bar, div.share > div.share-btn-container {
		display: none!important;
		opacity: 0!important;
    }


	/*------------------------------------------------------------------------*/
	/*								  ESRI PRINT MODE							 */
	/*------------------------------------------------------------------------*/

	#met-print-this-page {
	display: none;
		bottom: 0;
		right: 0;
		width: 40px;
		height: 40px;
		position: fixed;
		z-index: 9000;
		overflow: hidden;
		padding: 5px;
		background-color: rgba(255,255,255,0.1);
	}
	
	#met-print-this-page a {
		border-bottom: none;
		text-decoration: none;
		text-transform: none;
	}
	
	#met-print-this-page a img {
		opacity: 0.5;
		filter: alpha(opacity=50); /* For IE8 and earlier */
	}
	
	#met-print-this-page a img:hover {
		opacity: 1.0!important;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
	/* end print icon */
	
	/* suppress some elements for print view */
	body.print-view .met-signature-wrapper, body.print-view .metro-illustrated-strip, body.print-view .met-footer-wrapper {
		display: none;
	}

	body.print-view .app-tagline {
		display: none;
	}
	

	/*------------------------------------------------------------------------*/
	/*						 FLIP DARK TEMPLATE								    */
	/*------------------------------------------------------------------------*/

	/* mod dark template to look like Metro content */
	.theme-major-dark .section-layout-sequence .foreground {
		background-color: #ffffff;
	}
	
	.theme-white-over-black .blocksWrapper > .blocks {
		background-color: rgba(255,255,255,0.88);
	}

    body.theme-major-dark p.block {
		color: #4d5e66;
    }
    
    div.section.section-layout-title, section.section-layout-title div.background.background-type-image, .theme-major-dark .background {
		background-color: #ffffff;
    }
    
    body:not(.builder-mode).theme-major-dark .section.section-layout-title, body:not(.builder-mode).theme-major-dark .section.section-immersive {
		background-color: #ffffff!important;
    }
    
    .theme-major-dark .section-immersive .background-filler {
		background-color: #ffffff!important;
    }
    
    .theme-major-dark .media-loading {
		background-color: #ffffff!important;
		outline: 1px solid #ffffff;
    }
    
    .theme-major-dark .media-media {
		background-color: #ffffff!important;
    }
    
    /* end dark template mods */
    

	/*------------------------------------------------------------------------*/
	/*				                    MISCELLANEOUS					      */
	/*------------------------------------------------------------------------*/ 
	
	

	
	/*------------------------------------------------------------------------*/
	/*				                  MOBILE RESPONSE					      */
	/*------------------------------------------------------------------------*/ 


@media all and (max-width: 700px) {
	
	#metro-illustrated-strip {
		padding-top: 75px;	
	}
	
	#metro-illustrated-strip img {
		margin-top: 0;
	}

}

	
	
